#header{
  height: 50px;
  width: 100%;
  background-color: blue;
}
img{
  float: left;
}
.item::after{
  content: "";
  display: block;
  clear: both;
}
h5{
  margin-left: 110px;
}
p{
  margin-left: 110px;
  font-size: 10px;
}

button{
  margin-top: 56px;
  margin-left: 10px;
  padding: 0 20px;
}
